[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
pytest = "*"
pytest-cov = "*"
ipython = "*"
flake8 = "*"
flake8-docstrings = "*"
tox-pipenv = "*"
mypy = "*"
mkdocs = "*"
markdown-include = "*"
keras = "*"
numpy = "*"

[packages]
gym = "*"
pythomata = "==0.2.0"
flloat = "==0.2.3"

[requires]
python_version = "3"
