[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
pytest = "*"
pytest-cov = "*"
ipython = "*"

[packages]
flloat = {git = "https://github.com/marcofavorito/flloat.git",ref = "develop"}
gym = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
